@model List<CalculateRowViewModel>
<h2>Calculator</h2>

<p>Some calculator stuff</p>

<table class="table">
    <thead>
    <th>Static Value 1</th>
    <th>Static Value 2</th>
    <th>Value 1</th>
    <th>Value 2</th>
    <th>Value 3</th>
    <th>Total</th>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("CalculateRow", item)
    }
    </tbody>
</table>