@model List<CalculateRowViewModel>
<h2>
    <i class="bi bi-calculator text-primary me-3"></i>
    Calculator
</h2>

<p>Inline editing with HTMX. The calculation (sum) is done server side and the whole row is replaced</p>

<table class="table">
    <thead>
    <th>Static Value 1</th>
    <th>Static Value 2</th>
    <th>Value 1</th>
    <th>Value 2</th>
    <th>Value 3</th>
    <th>Total</th>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("CalculateRow", item)
    }
    </tbody>
</table>