<h2>Calculator</h2>

<p>Some calculator stuff</p>

<table class="table">
    <thead>
    <th>Static Value 1</th>
    <th>Static Value 2</th>
    <th>Value 1</th>
    <th>Value 2</th>
    <th>Value 3</th>
    <th>Total</th>
    </thead>
    <tbody>
    <tr>
        <td>
            Some read only stuff
            <input type="hidden" name="StaticValueOne" value="Some read only stuff"/>
        </td>
        <td>
            45
            <input type="hidden" name="StaticValueTwo" value="45" />
        </td>
        <td hx-get="/calculator/edit?name=ValueOne&Value=10" hx-trigger="click once">
            10
            <input type="hidden" name="ValueOne" value="10" />
        </td>
        <td hx-get="/calculator/edit?name=ValueTwo&Value=10" hx-trigger="click once">
            10
            <input type="hidden" name="ValueTwo" value="10" />
        </td>
        <td hx-get="/calculator/edit?name=ValueThree&Value=10" hx-trigger="click once">
            10
            <input type="hidden" name="ValueThree" value="10" />
        </td>
        <td>
            30
        </td>
    </tr>
    </tbody>
</table>